html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }

  body {
    display: flex;
    justify-content: center;
  }

 .cv-container {
    text-align: center;     
    max-width: 700px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 12px;
    margin-top: 40px;        
    margin-bottom: 40px;     
  }

  .header-image-container img {
    width: 250px;
    height: auto;
    border-radius: 12px;
    margin-bottom: 20px;
  }

  h1, h2 {
    margin-bottom: 10px;
  }

  p {
    margin: 4px 0;
  }